body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
    background: #f6fffd;
    padding: 20px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

header {
    padding: 18px;
    color: white;
    background-color: mediumaquamarine;
}

footer {
    padding: 18px;
    color: white;
    background-color: lightseagreen;
}

h1 {
    margin-bottom: 24px;
}

p {
    margin-bottom: 24px;
    line-height: 1.4;
}

div {
    padding: 25px;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

th {
    background-color: #96D4D4;
    width: 10%;
}

form label {
    display: inline-block;
    width: 100px;
}

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    text-align: center;
    background-color: #e8eae6;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;
    display: none;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 4px;
}

#data tbody tr {
    display: none;
}
